*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
     background: #fff;
    width: 100%;
}
html{
 height: 260vh;
}
header {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    text-align: center;
   
}
.logo img{
    margin: 0;
    height: 40px;
    width: 70px;
}
nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 10px;
}

nav a:hover {
    color: #ff0000; /* Change the color on hover */
}

.dropdown {
    position: relative;
}
.dropdown button{
    width: 150px;
    background: none;
    border: #333;
    color: #fff;
    font-size: 20px;
}
.dropdown i{
    margin-left: 10px;
    font-size: 20px;
    color: red;
}
.content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 300px;
    margin-top: 20px;
    margin-left: -30px;
    height: 600px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.5s;
}
.content a{
    margin-left: 0 0;
    padding: 0 0;
}
.show {
display: block;
}

.content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    margin: 0 0;
}

.content a:hover {
    background-color: #555;
}

/*====================================== PAGEEEE ==============================*/
.banner{
    width: 100%;
    height: 900px;
    background-image: url(Humans2.jpg);
    background-size: cover;
}

.banner .txt h2{
    font-size: 50px;
    color: #fff;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 20px;
    padding-right: 60%;
}
.banner .txt p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-right: 60%;
}

.info{
    width: 100%;
    height: 500px;
    padding-top: -50%;
}
.info .txt-i h1{
    font-size: 50px;
    padding-bottom: 40px;
    color: black;
    padding-left: 25%;
    padding-right: 25%;
}

.info .txt-i h3{
    padding-left: 15%;
    padding-right: 15%;
}
.more .more-items{
    white-space: nowrap;
    font-size: none;
    margin-left: 14px;
    overflow: hidden;
    cursor: pointer;
    scroll-behavior: smooth;
}
.container-items img{
    margin-right: 80px;
    height: calc(540px / 1);
    object-fit: cover;
    width: calc(100% / 4);
    margin-top: 50px;
}

/*=========================== MAIS COISAS =============================*/

img{
    max-width: 100%;
}

.container-itens{
    max-height: 200px;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 15px 30px;
    padding-top: 50px;
}
.itens{

    border: 1px solid;
    backdrop-filter: blur(5px);
    position: relative;
}

.itens img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    transition: all 1.5s ;
    padding: 25px 25px;
}
.itens:hover img{
   transform: scale(1.2);
}
.itens figure{
    overflow: hidden;
}
.itens:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0,20);
}

.info-product{
    padding: 15px 30px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.info-product h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.info-product i{
    font-size: 30px;
    margin-left: 10px;
    color: red;
}
.info-product a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.info-planets{
    display: none;
}
.button:hover .info-planets{
    display: block;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.instagram-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.instagram-link:hover {
    text-decoration: underline;
}

.informacoes-importantes {
    margin-top: 10px;
}